commands:
  01-update-composer:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01-optimize:
    command: "/usr/bin/composer.phar dump-autoload --optimize"
  02-change-permission:
    command: "chown -R www-data:www-data /var/www/html"
  03-copy-env:
    command: "cp /var/www/.env /var/www/html/.env"
  04-change-permission:
    command: "chown -R www-data:www-data /var/www/html/*"
  05-change-storage-permission:
    command: "chgrp -R www-data /var/www/html/storage"
  06-change-storage-permission:
    command: "chmod -R o+w /var/www/html/storage"
  07-migrate:
    command: "php artisan migrate"
  08-seed:
    command: "php artisan db:seed"