container_commands:
  01-change_permission:
    command: "chown -R www-data:www-data /var/www/html"
  02-copy_env:
    command: "cp /var/www/.env /var/www/html/.env"
  03-change_inner_permission:
    command: "chown -R www-data:www-data /var/www/html/*"
  04-change_storage_permission:
    command: "chgrp -R www-data /var/www/html/storage"
  05-change_storage_permission:
    command: "chmod -R o+w /var/www/html/storage"